.custom-btn {
  @apply inline-block 
  py-2 px-3 
bg-primaryColour 
  border-2 border-primaryColour
text-white 
  rounded-md 
hover:bg-white hover:border-2 
  hover:font-medium hover:border-primaryColour 
  hover:text-primaryColour duration-100;
}

.custom-btn-header {
  @apply rounded-lg uppercase bg-secondaryColour duration-200 flex justify-center items-center text-white w-24 h-10 py-2 cursor-pointer hover:bg-white border-2 border-secondaryColour hover:text-secondaryColour;
}

.custom-btn-contact {
  @apply rounded-lg uppercase bg-secondaryColour duration-200 flex justify-center items-center text-white h-10 py-2 px-4 cursor-pointer hover:bg-white border-2 border-secondaryColour hover:text-secondaryColour w-full md:w-1/3;
}
